nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.05rem;
  position: absolute;
  width: 100%;
  div {
    ul {
      display: flex;
      flex-direction: row;
    }
  }
  .logo {
    padding-right: 40px;
    padding: 15px;
  }
  .menu-options {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
    ul {
      li{
        padding-right: 25px;
      }
    }
  }
  .icon {
    .fa-bars{
      color: black;
      font-size: 1.4rem;
      margin-left: 15px;
      margin-right: 15px;
      &.openclass{
        color: white;
        position: absolute;
        z-index: 6;
        right: 5px;
        font-size: 1.9rem;
        top: 17px;
        animation: closeIcon 2.5s;
      }
    }
  }
  .language {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  // language switcher 
  .lang-switcher {
    align-items: center;
    li {
      border-right: 1px solid grey;
      &:last-child {
        border-right: none;
      }
      a {
        color: black;
        transition: all 0.5s ease;
        text-decoration: none;
        display: inline-block;
        min-width: 40px;
        text-align: center;
        font-size: 1.1rem;
        &:hover {
          text-decoration: none;
        }
        &.is-active {
          color: grey;
          cursor: default;
          font-size: 1.2rem;
        }
      }
    }
  }
  // End of language switcher
  @media screen and (max-width: 768px) {
    .mobile-overlay-show {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.95);
      top: 0;
      left: 0;
      animation: menuSlide 0.7s;
      margin: 0;
      z-index: 5;
      display: flex;
      justify-content: center;
      .options {
        display: block;
        text-align: center;
        line-height: 110px;
        li {
          color: white;
          font-size: 3rem;
          .fas {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (min-width: 769px) {
    .menu-options{
      display: block;
    }
    .icon {
      .fa {
        display: none;
      }
    }
    .lang-switcher {
      li {
        a {
          padding: 0px 3px;
          font-size: 1rem;
          &.is-active {
            font-size: 1.05rem;
          }
        }
      }
    }
  }
}

@keyframes menuSlide { //animation menu
  from {
    left: 100vh;
  }
  to {
    left: 0;
  }
}

@keyframes closeIcon { //animation close icon
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
