<section class="about-section" id="about">
  <div class="about-text">
    <div class="about-img">
      <div class="me">
          <img src="../media/project.jpg" alt=" picture of me?"/>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing 
      sem neque sed ipsum. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit 
      amet adipiscing sem neque sed ipsum. 
  </div>
  <div class="skills">
    <div class="program wow fadeInRight"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet</span>
    </div>  
    <div class="program wow fadeInRight" data-wow-delay="0.2s"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet</span>
    </div>  
    <div class="program wow fadeInRight" data-wow-delay="0.4s"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet</span>
    </div>  
  </div>
  <div class="skills">
    <div class="program wow fadeInLeft" data-wow-delay="0.6s"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet</span>
    </div>  
    <div class="program wow fadeInLeft" data-wow-delay="0.8s"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet.</span>
    </div>  
    <div class="program wow fadeInLeft" data-wow-delay="1s"> 
      <img src="#" class="program-img" alt="icon program"/>
      <span class="program-name">Lorem ipsum dolor sit amet</span>
    </div>  
  </div>
</section>