<nav>
  <div class="logo">
    <img src="#" alt="logo"/>
  </div>
  <div class="menu-options mobile-overlay">
    <ul class="options">
      <li><a href="#projects">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="language">
    <ul class="lang-switcher">
      <li><a href="#" class="is-active">NL</a></li>
      <li><a href="#">EN</a></li>
    </ul> 
  </div>
  <a href="#" class="icon" >
    <i class="fa fa-bars"></i>
  </a>
</nav>