<section class="project-section" id="projects">
  <div class="project">
    <div class="project-content wow slideInLeft" data-wow-duration="1.2s">
      <div class="text">
        <h2> Project 1</h2>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. 
        </p>
        <button><a href="#"><i class="fas fa-arrow-right"></i></a></button>
      </div>
    </div>
    <div class="project-image wow slideInRight" data-wow-duration="1.2s">
      <div class="image">
        <img src="../media/project.jpg" class="project-picture" alt="project"/>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project-content wow slideInRight" data-wow-duration="1.2s">
      <div class="text">
        <h2> Project 2</h2>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. 
        </p>
        <button><a href="#"><i class="fas fa-arrow-right"></i></a></button>
      </div>
    </div>
    <div class="project-image wow slideInLeft" data-wow-duration="1.2s">
      <div class="image">
        <img src="../media/project4.jpg" class="project-picture" alt="project"/>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project-content wow slideInLeft" data-wow-duration="1.2s">
      <div class="text">
        <h2> Project 3</h2>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. 
        </p>
        <button><a href="#"><i class="fas fa-arrow-right"></i></a></button>
      </div>
    </div>
    <div class="project-image wow slideInRight" data-wow-duration="1.2s">
      <div class="image">
        <img src="../media/project2.jpg" class="project-picture" alt="project"/>
      </div>
    </div>
  </div>
</section>