<section class="project-section">
  <div class="project">
    <div class="project-content">
      <div class="text">
        <h2> Project 1</h2>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. 
        </p>
        <button><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="project-image">
      <div class="image">
        <img src="../media/project.jpg" class="zoetermeer" alt="project1"/>
      </div>
    </div>
  </div>
  <div class="project2">
    <div class="project-content">
      <div class="text">
        <h2> Project 2</h2>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
          parturient montes, nascetur ridiculus mus. 
        </p>
        <button><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="project-image">
      <div class="image">
        <img src="#" alt="project2"/>
      </div>
    </div>
  </div>
</section>